body{
  background: #9EAC96;
}
.middle{
  text-align: center;
}
.right{
  text-align: right;
}
.green{
  color: green;
}
.font{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.size{
  font-size: 60px;
}
.font-color{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.flex{
  display: flex;
  width: 100%;
  justify-content: center; 
}
.flex img{
  justify-content: center; 
  width: 200px;
}
.flex button{
  background: linear-gradient(lime, green);
  border: none;
  margin-top: 30px;
  width: 100px;
  height: 30px;
  color: white;
  font-weight: bold;
  border: 1px solid black
}